.nav {
  background-color: #140923;
}

.bg-sidebar {
  background-color: #140923;
}

.header {
  @apply sticky top-0 z-30 flex  items-center gap-4 border-b bg-white px-4 sm:static sm:h-auto sm:border-0 sm:bg-transparent sm:px-6 py-4;
  background-color: white !important;
}

.link {
  @apply flex items-center gap-4 px-2.5 text-muted-foreground hover:text-white font-poppins transition-colors;
}

.nav-select {
  @apply text-white;
  background-color: #6146f6;
  padding: 0.5rem;
  width: calc(100% + 10px);
  margin-left: 15px;
  font-weight: 200;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.2);
}

.bg-selected {
  background-color: #6146f6 !important;
}

.app-selected {
  @apply text-white;
  background-color: #6146f6 !important;
  padding: 0.5rem 1rem;
  font-weight: 500;
  border-radius: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

/* Override Tabs component data-state for active tabs */
[data-state='active'].link {
  background-color: #6146f6 !important;
  color: white !important;
  border-radius: 0;
}

.text-purple {
  color: #6146f6 !important;
}

.banner {
  width: 104%;
  margin-left: -2%;
}

/* Chrome, Safari, Edge, Opera */
input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

/* Firefox */
input[type='search']::-moz-search-cancel-button {
  display: none;
}

/* Microsoft Edge */
input[type='search']::-ms-clear {
  display: none;
}

.tab-trigger {
  @apply px-4 py-8 hover:bg-gray-50 transition-colors duration-200;
  @apply flex flex-col items-center gap-3 h-auto w-full cursor-pointer;
  @apply border border-gray-300 text-gray-700 rounded-md max-w-1/6;
}
